@use '../utils/variables' as *;
@use '../utils/include-media' as *;
@use '../utils/mixins' as *;

.navbar {
  padding: 1rem 2.5rem;
  font-size: 1.8rem;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  @include media('>=mindesk') {
    padding: 2rem 2.5rem;
  }

  &.scrolled {
    background-color: #fff;
    color: #000;
    box-shadow: 0 3px 20px rgba(#000, 0.2);
    position: fixed;

    & .hamburger {
      filter: invert(100%);
    }
  }

  & .logo {
    @include media('>tablet') {
      font-size: 2.1rem;
    }

    @include media('>mindesk') {
      font-size: 2.5rem;
    }
  }

  & .navbarContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 144rem;
    margin: 0 auto;

    & .hamburger {
      @include media('>=mindesk') {
        display: none;
      }
    }

    .navList {
      display: none;
      @include media('>=mindesk') {
        display: flex;
        justify-content: center;
        align-items: stretch;

        & > a {
          margin-right: clamp(3rem, 3.5vw, 7rem);
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          position: relative;

          &:hover .dropdown,
          &:focus .dropdown,
          &:active .dropdown {
            opacity: 1;
            transition: opacity 0.3s ease-in-out;
            pointer-events: all;
          }

          & .dropdown {
            position: absolute;
            pointer-events: none;
            display: block;
            opacity: 0;
            min-width: max-content;
            background-color: rgba(255, 255, 255, 1);
            top: 3.2rem;
            left: 0;
            box-shadow: 0 3px 20px rgba(#000, 0.2);
            padding: 1rem 1rem;
            z-index: 2;

            & li {
              text-align: left !important;
              padding: 0.8rem 1rem;
              color: #000;
            }

            & li:hover,
            & li:focus {
              color: #4f37ee;
            }
          }
        }

        & button:first-of-type {
          margin-right: 3rem;
        }
      }
    }
  }
}
