$clr-black: #2c2c2c;
$clr-white: #ffffff;
$clr-light-gray: #b7b7b7;
$clr-gray: #767676;
$clr-medium-gray: #959595;
$clr-gray-dark: #2d2d2d;

$fnt-x-small: clamp(0.9rem, 1vw, 1.8rem);
$fnt-small: clamp(1.5rem, 1.2vw, 2rem);
$fnt-medium: clamp(1.5rem, 1.5vw, 2rem);
$fnt-semi-medium: clamp(1.5rem, 1.3vw, 2.2rem);

$fnt-semi-large: clamp(2rem, 3vw, 4rem);
$fnt-large: clamp(3.3rem, 4vw, 5rem);
$fnt-x-large: clamp(4rem, 6.2vw, 7.2rem);
